<!DOCTYPE html>
<html>
  <head>
    <title>{{ author }}'s map project</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>

    <script>
var map;
var infowindow;

function initialize() {
  var mapOptions = {
    zoom: 11
  };
  map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);
  infowindow = new google.maps.InfoWindow();

  // Try HTML5 geolocation
  if(navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      var pos = new google.maps.LatLng(position.coords.latitude,
                                       position.coords.longitude);
      map.setCenter(pos);
      var findNearestSoccerFieldDiv = document.createElement('div');
      var findNearestSoccerFieldControl = new FindNearestSoccerField(findNearestSoccerFieldDiv, map)
      findNearestSoccerFieldDiv.index = 1;
      map.controls[google.maps.ControlPosition.TOP_RIGHT].push(findNearestSoccerFieldDiv);
    }, function() {
      handleNoGeolocation(true);
    });
  } else {
    // Browser doesn't support Geolocation
    handleNoGeolocation(false);
  }
}

function handleNoGeolocation(errorFlag) {
  if (errorFlag) {
    var content = 'Error: The Geolocation service failed.';
  } else {
    var content = 'Error: Your browser doesn\'t support geolocation.';
  }

  var options = {
    map: map,
    position: new google.maps.LatLng(60, 105),
    content: content
  };

  map.setCenter(options.position);
}

function FindNearestSoccerField(controlDiv, map) {
  // Set CSS styles for the DIV containing the control
  // Setting padding to 5 px will offset the control
  // from the edge of the map
  controlDiv.style.padding = '5px';

  // Set CSS for the control border
  var controlUI = document.createElement('div');
  controlUI.style.backgroundColor = 'white';
  controlUI.style.borderStyle = 'solid';
  controlUI.style.borderWidth = '2px';
  controlUI.style.cursor = 'pointer';
  controlUI.style.textAlign = 'center';
  controlUI.title = 'Click to find nearest soccer field.';
  controlDiv.appendChild(controlUI);

  // Set CSS for the control interior
  var controlText = document.createElement('div');
  controlText.style.fontFamily = 'Arial,sans-serif';
  controlText.style.fontSize = '12px';
  controlText.style.paddingLeft = '4px';
  controlText.style.paddingRight = '4px';
  controlText.innerHTML = 'Nearest Soccer Field';
  controlUI.appendChild(controlText);

  var placeService = new google.maps.places.PlacesService(map);
  var currentLocation = map.getCenter();
  var request = {
    location: currentLocation,
    keyword: 'soccer',
    radius: 5000, //5 km radius search
    types: ['park']
  };
  google.maps.event.addDomListener(controlUI, 'click', function() {
    placeService.nearbySearch(request, PlaceMarkerCallback);
  });
}

function PlaceMarkerCallback(results, status) {
  if (status == google.maps.places.PlacesServiceStatus.OK) {
    createMarker(results[0]);  //Just want the first soccer field we find
  }
}

function createMarker(place) {
  var placeLoc = place.geometry.location;
  var marker = new google.maps.Marker({
    map: map,
    position: place.geometry.location
  });

  google.maps.event.addListener(marker, 'click', function() {
    infowindow.setContent(place.name);
    infowindow.open(map, this);
  });
}

google.maps.event.addDomListener(window, 'load', initialize);

    </script>
  </head>
  <body>
    <div id="map-canvas"></div>
  </body>
</html>

